{% extends "master.html" %}
{% block content %}
<br>
<a href="{{ url_for('home')}}" style="color:#FF3333">Home</a><br>
<br>
<span style="text-decoration: underline;">Education</span><br>
<br>
<small>
    MBA - Management, Concentration: Finance. State University of New York (SUNY) at Oswego, New York (AACSB).
<br><br>
    BA    - Communication. State University of New York (SUNY) at Buffalo, New York.
<br><br>
<span style="text-decoration: underline;">Professional Experience</span><br>
2008 to 2011 - Bank of America - Telephone Customer Support and Sales<br>
<br>
<span style="text-decoration: underline;">Proficiencies</span><br>
- Information Systems and Technology Management <br>
-   Strong Communication Skills on All Platforms <br>
-   Financial Analysis <br>
-   Organizational Management <br>
-   Computer Programming and Automation <br>
Risk Management
<br>
<br>
<span style="text-decoration: underline;">Additional Interests</span><br>
- Web Development <br>
       -    SQL <br>
       -    Oracle <br>
       -    Cryptocurrencies <br>
       -   Financial Engineering <br>
</small>
{% endblock %}