{% extends "master.html" %}
{% block content %}
<br>
<a href="{{ url_for('home')}}" style="color:#FF3333">Home</a><br>
<br>
<small>
Stocktrak is a virtual trading platform that I utilized during graduate school.
The native <a href="http://www.stocktrak.com">StockTrak<a> website did not provide
a way to historically track team rank movements which was crucial in identifying
strong competition among my peers. Stocktrak.py is a descision support system designed
to provide the information I required throughout the project. Source code can be found at
my <a href="http://www.github.com/jdgattuso">GitHub<a> and links to the data which
are hosted on my dropbox.
</small>
{% endblock %}